# Ejemplo de Regresión logística para el caso "Titanic" utilizando los algoritmos de :


*   Regresión Logística
*   Máquinas de soporte de Vectores
*   KNN (vecinos mas cercanos)

### (1) LIBRERÍAS A UTILIZAR ###

In [6]:
#Se importan la librerias a utilizar
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
print ("Las librerias han sido cargadas")

Las librerias han sido cargadas

### (2) Carga de los Datasets (archivos de datos ###

In [7]:
#Se importa los datos a utilizar de la web
#url_test = 'https://storage.googleapis.com/kaggle-competitions-data/kaggle/3136/test.csv'
#url_train = 'https://storage.googleapis.com/kaggle-competitions-data/kaggle/3136/train.csv'
url_test = '/content/drive/MyDrive/Datasets/Titanic/test.csv'
url_train = '/content/drive/MyDrive/Datasets/Titanic/train.csv'
###############################################
###   Creamos los dataframes respectivos    ###
###############################################
df_test = pd.read_csv(url_test)
df_train = pd.read_csv(url_train)
print("===>>> veamos las primeras filas de test")
print(df_test.head())
print("===>>> veamos las primeras filas de train")
print(df_train.head())

===>>> veamos las primeras filas de test
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
===>>> veamos las primeras filas de train
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### (3) COMPRENSION DE LA DATA ###

In [9]:
#Verifico la cantidad de datos que hay en los dataset
print("--------------------------")
print('Cantidad de datos:')
print("train : ",df_train.shape)
print("test : ",df_test.shape)

#Verifico el tipo de datos contenida en ambos dataset
print("--------------------------")
print('Tipos de datos:')
print("train : ",df_train.info())
print("test : ",df_test.info())
print("--------------------------")
#Verifico los datos faltantes de los dataset
print('Datos faltantes:')
print("train : ",pd.isnull(df_train).sum())
print("test : ",pd.isnull(df_test).sum())
print("--------------------------")
#Verifico las estadísticas del dataset
print('Estadísticas del dataset:')
print("train : ",df_train.describe())
print("test : ",df_test.describe())

--------------------------
Cantidad de datos:
train :  (891, 12)
test :  (418, 11)
--------------------------
Tipos de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
train :  None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB
test :  None
--------------------------
Datos faltantes:
train :  PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
test :  PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64
--------------------------
Estadísticas del dataset:
train :         PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
test :         PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

###  (4) PREPROCESAMIENTO DE LA DATA ###

In [10]:
#Cambio los datos de sexos en números
print("Cambio los datos de sexos en números")
print(df_train['Sex'].unique)
df_train['Sex'].replace(['female','male'],[0,1],inplace=True)
df_test['Sex'].replace(['female','male'],[0,1],inplace=True)

Cambio los datos de sexos en números
<bound method Series.unique of 0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object>

<ipython-input-10-dfd53369217b>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Sex'].replace(['female','male'],[0,1],inplace=True)
<ipython-input-10-dfd53369217b>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train['Sex'].replace(['female','male'],[0,1],inplace=True)
<ipython-input-10-dfd53369217b>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Sex'].replace(['female','male'],[0,1],inplace=True)
<ipython-input-10-dfd53369217b>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_test['Sex'].replace(['female','male'],[0,1],inplace=True)

In [11]:
#Cambio los datos de embarque en números
print("Cambio los datos de embarque en números")
df_train['Embarked'].unique
df_train['Embarked'].replace(['Q','S', 'C'],[0,1,2],inplace=True)
df_test['Embarked'].replace(['Q','S', 'C'],[0,1,2],inplace=True)

Cambio los datos de embarque en números

<ipython-input-11-8b6fbaeaadc1>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train['Embarked'].replace(['Q','S', 'C'],[0,1,2],inplace=True)
<ipython-input-11-8b6fbaeaadc1>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train['Embarked'].replace(['Q','S', 'C'],[0,1,2],inplace=True)
<ipython-input-11-8b6fbaeaadc1>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test['Embarked'].replace(['Q','S', 'C'],[0,1,2],inplace=True)
<ipython-input-11-8b6fbaeaadc1>:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_test['Embarked'].replace(['Q','S', 'C'],[0,1,2],inplace=True)

In [12]:
#Reemplazo los datos faltantes en la edad por la media de esta columna
print("Reemplazo los datos faltantes en la edad por la media de esta columna")
print("media de la edad en train : ",df_train["Age"].mean())
print("media de la edad en ntest : ",df_test["Age"].mean())
promedio = 30
df_train['Age'] = df_train['Age'].replace(np.nan, promedio)
df_test['Age'] = df_test['Age'].replace(np.nan, promedio)
print("Edad cambiada")
print(df_train['Age'])
print(df_test['Age'])

Reemplazo los datos faltantes en la edad por la media de esta columna
media de la edad en train :  29.69911764705882
media de la edad en ntest :  30.272590361445783
Edad cambiada
0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    30.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413    30.0
414    39.0
415    38.5
416    30.0
417    30.0
Name: Age, Length: 418, dtype: float64

In [13]:
#Creo varios grupos de acuerdo a bandas de las edades
print("Creo varios grupos de acuerdo a bandas de las edades")
#Bandas: 0-8, 9-15, 16-18, 19-25, 26-40, 41-60, 61-100
bins = [0, 8, 15, 18, 25, 40, 60, 100]
names = ['1', '2', '3', '4', '5', '6', '7']
df_train['Age'] = pd.cut(df_train['Age'], bins, labels = names)
df_test['Age'] = pd.cut(df_test['Age'], bins, labels = names)
print("bandas : df_train")
print(df_train)
print("bandas : df_test")
print(df_test)

Creo varios grupos de acuerdo a bandas de las edades
bandas : df_train
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex Age  SibSp  Parch  \
0                              Braund, Mr. Owen Harris    1   4      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    0   5      1      0
2                               Heikkinen, Miss. Laina    0   5      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    0   5      1      0
4                             Allen, Mr. William Henry    1   5      0      0
..                                                 ...  ...  ..    ...    ...
886                              Montvila, Rev. Juozas    1   5      0      0
887                       Graham, Miss. Margaret Edith    0   4      0      0
888           Johnston, Miss. Catherine Helen "Carrie"    0   5      1      2
889                              Behr, Mr. Karl Howell    1   5      0      0
890                                Dooley, Mr. Patrick    1   5      0      0

               Ticket     Fare Cabin  Embarked
0           A/5 21171   7.2500   NaN       1.0
1            PC 17599  71.2833   C85       2.0
2    STON/O2. 3101282   7.9250   NaN       1.0
3              113803  53.1000  C123       1.0
4              373450   8.0500   NaN       1.0
..                ...      ...   ...       ...
886            211536  13.0000   NaN       1.0
887            112053  30.0000   B42       1.0
888        W./C. 6607  23.4500   NaN       1.0
889            111369  30.0000  C148       2.0
890            370376   7.7500   NaN       0.0

[891 rows x 12 columns]
bandas : df_test
     PassengerId  Pclass                                          Name  Sex  \
0            892       3                              Kelly, Mr. James    1
1            893       3              Wilkes, Mrs. James (Ellen Needs)    0
2            894       2                     Myles, Mr. Thomas Francis    1
3            895       3                              Wirz, Mr. Albert    1
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0
..           ...     ...                                           ...  ...
413         1305       3                            Spector, Mr. Woolf    1
414         1306       1                  Oliva y Ocana, Dona. Fermina    0
415         1307       3                  Saether, Mr. Simon Sivertsen    1
416         1308       3                           Ware, Mr. Frederick    1
417         1309       3                      Peter, Master. Michael J    1

    Age  SibSp  Parch              Ticket      Fare Cabin  Embarked
0     5      0      0              330911    7.8292   NaN         0
1     6      1      0              363272    7.0000   NaN         1
2     7      0      0              240276    9.6875   NaN         0
3     5      0      0              315154    8.6625   NaN         1
4     4      1      1             3101298   12.2875   NaN         1
..   ..    ...    ...                 ...       ...   ...       ...
413   5      0      0           A.5. 3236    8.0500   NaN         1
414   5      0      0            PC 17758  108.9000  C105         2
415   5      0      0  SOTON/O.Q. 3101262    7.2500   NaN         1
416   5      0      0              359309    8.0500   NaN         1
417   5      1      1                2668   22.3583   NaN         2

[418 rows x 11 columns]

In [14]:
#Se elimina la columna de "Cabin" ya que tiene muchos datos perdidos
print("Se elimina la columna de \"Cabin\" ya que tiene muchos datos perdidos")
df_train.drop(['Cabin'], axis = 1, inplace=True)
df_test.drop(['Cabin'], axis = 1, inplace=True)

Se elimina la columna de "Cabin" ya que tiene muchos datos perdidos

In [15]:
#Elimino las columnas que considero que no son necesarias para el analisis
print("Elimino las columnas que considero que no son necesarias para el analisis")
df_train = df_train.drop(['PassengerId','Name','Ticket'], axis=1)
df_test = df_test.drop(['Name','Ticket'], axis=1)
print("train : ")
df_train.describe()
print("test : ")
df_test.describe()

Elimino las columnas que considero que no son necesarias para el analisis
train :
test :

,PassengerId,Pclass,Sex,SibSp,Parch,Fare,Embarked
count,418.000000,418.000000,418.000000,418.000000,418.000000,417.000000,418.000000
mean,1100.500000,2.265550,0.636364,0.447368,0.392344,35.627188,1.133971
std,120.810458,0.841838,0.481622,0.896760,0.981429,55.907576,0.580452
min,892.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,0.000000,0.000000,0.000000,7.895800,1.000000
50%,1100.500000,3.000000,1.000000,0.000000,0.000000,14.454200,1.000000
75%,1204.750000,3.000000,1.000000,1.000000,0.000000,31.500000,1.000000
max,1309.000000,3.000000,1.000000,8.000000,9.000000,512.329200,2.000000

In [16]:
#Se elimina las filas con los datos perdidos
print("Se elimina las filas con los datos perdidos")
df_train.dropna(axis=0, how='any', inplace=True)
df_test.dropna(axis=0, how='any', inplace=True)

Se elimina las filas con los datos perdidos

In [17]:
#Verifico los datos
print("Cantidad de nulos")
print(pd.isnull(df_train).sum())
print(pd.isnull(df_test).sum())
print("Info de los dataframes")
print(df_train.shape)
print(df_test.shape)
print("primeras filas de los dataframes")
print(df_test.head())
print(df_train.head())

Cantidad de nulos
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64
Info de los dataframes
(889, 8)
(417, 8)
primeras filas de los dataframes
   PassengerId  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0          892       3    1   5      0      0   7.8292         0
1          893       3    0   6      1      0   7.0000         1
2          894       2    1   7      0      0   9.6875         0
3          895       3    1   5      0      0   8.6625         1
4          896       3    0   4      1      1  12.2875         1
   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0         0       3    1   4      1      0   7.2500       1.0
1         1       1    0   5      1      0  71.2833       2.0
2         1       3    0   5      0      0   7.9250       1.0
3         1       1    0   5      1      0  53.1000       1.0
4         0       3    1   5      0      0   8.0500       1.0

### (5) APLICACIÓN DE ALGORITMOS DE MACHINE LEARNING ###

In [18]:
#####################################################################
# Para el entrenamiento ...
# Separo la columna con la información de los sobrevivientes
X = np.array(df_train.drop(['Survived'], axis=1))
y = np.array(df_train['Survived'])
#####################################################################
## !!!!!  Ojo aqui !!!!
#####################################################################
# Separo los datos de "train" en entrenamiento y prueba para probar los algoritmos
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Regresión logística
## Aqui hace el entrenamiento (fit) del algoritmo
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
##_Realiza la prediccion de prueba
Y_pred = logreg.predict(X_test)
print('Precisión Regresión Logística:')
print(logreg.score(X_train, y_train))

##Support Vector Machines
svc = SVC()
svc.fit(X_train, y_train)
Y_pred = svc.predict(X_test)
print('Precisión Soporte de Vectores:')
print(svc.score(X_train, y_train))

##K neighbors
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
print('Precisión Vecinos más Cercanos:')
print(knn.score(X_train, y_train))

Precisión Regresión Logística:
0.8185654008438819
Precisión Soporte de Vectores:
0.680731364275668
Precisión Vecinos más Cercanos:
0.870604781997187

### (6) PREDICCIÓN UTILIZANDO LOS MODELOS ###

In [19]:
ids = df_test['PassengerId']
df_predic = df_test.drop(['PassengerId'], axis=1)
print("tipos de datos predicción")
print(df_predic.dtypes)

# Convert object columns in df_predic to numerical using one-hot encoding
#df_predic = pd.get_dummies(df_predic, columns=df_predic.select_dtypes(include=['object']).columns)

# Convert object columns in df_predic to numerical using one-hot encoding
# Convert all object type columns to numerical using one-hot encoding
for col in df_predic.select_dtypes(include=['object']).columns:
    df_predic = pd.concat([df_predic, pd.get_dummies(df_predic[col], prefix=col)], axis=1)
    df_predic.drop(col, axis=1, inplace=True)

# Ensure all columns are numeric
df_predic = df_predic.astype(float)

###Regresión logística
print('Predicción Regresión Logística:')
prediccion_logreg = logreg.predict(df_predic)
out_logreg = pd.DataFrame({ 'PassengerId' : ids, 'Survived': prediccion_logreg })
print(out_logreg.head())

##Support Vector Machines
print('Predicción Soporte de Vectores:')
prediccion_svc = svc.predict(df_test.drop('PassengerId', axis=1))
out_svc = pd.DataFrame({ 'PassengerId' : ids, 'Survived': prediccion_svc })
print(out_svc.head())

##K neighbors
print('Predicción Vecinos más Cercanos:')
prediccion_knn = knn.predict(df_test.drop('PassengerId', axis=1))
out_knn = pd.DataFrame({ 'PassengerId' : ids, 'Survived': prediccion_knn })
print(out_knn.head())

tipos de datos predicción
Pclass         int64
Sex            int64
Age         category
SibSp          int64
Parch          int64
Fare         float64
Embarked       int64
dtype: object
Predicción Regresión Logística:
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1
Predicción Soporte de Vectores:
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0
Predicción Vecinos más Cercanos:
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:2732: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(